@import '../../../styles/variables.scss';

.ParalaxItem {
    position: absolute;
    transition: 0.2s ease;

    &.violet {
        color: var(--violet);
    }

    &.pink {
        color: var(--pink);
    }

    &.white {
        color: var(--white);

        @media (max-width: $mobile-xs) {
            top: -24px !important;
            right: 15% !important;
        }
    }
}

.paralaxElDots {
    @media (max-width: $mobile) {
        display: none;
    }
}

.ParalaxCircle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}