@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --violet: #8643DC;
  --pink: #FF82CD;
  --blue-main-blur: #0495FF;
  --violet-main-blur: #AC6AFF;
  --violet-scroll: #F0E3FE;
  --violet-scroll-inner: #D5B0FF;
  --black: #25202F;
  --gray-dark: #707070;
  --gray: #DAD2E3;
  --gray-light: #F7F6F6;
  --gray-subtext: #9792A3;
  --white: #ffffff;
  --white-bg: #f9f8f8;

  --green: rgb(173, 250, 208);
  --pink-light: #fbbed4;
  --blue-light: #aee5fd;
  --yellow: #ffe3a8;
  --green-light: #c3fa9f;
  --violet-light: #d4b0ff;
  --fuchsia: #feabf7;


  --font-l: 72px;
  --font-m: 36px;
  --font-s: 24px;
  --font-xs: 18px;
  --font-xxs: 16px;
}